<%= content_for :hero  do -%>
	<div class="hero-unit">
  <h1>Panasonic TDA50 and Voice Mail Bundle</h1>
  <p>Starting at $1500.00 installed*</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
<% end %>

<h1>Welcome</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
